---
import BaseLayout from '../layouts/BaseLayouts.astro';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Bienvenido a mi primer tutorial de blog en astro</h2>
 
</BaseLayout>